.envelope-card {
  border: 2px solid rgb(224, 224, 224);
  cursor: pointer;
  &.blocked {
    background: #e6e6e6;
    box-shadow: none;
    cursor: not-allowed;
    &:hover {
      border-color: transparent;
    }
  }
  &:hover {
    border-color: $primaryColor;
  }
}

.envelope-sheets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
