// Loader

.app-loader-wrapper {
  display: none;
  &.show {
    display: flex;
  }
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
}
.app-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.app-loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $primaryColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.app-loader div:nth-child(1) {
  left: 8px;
  animation: app-loader1 0.6s infinite;
}
.app-loader div:nth-child(2) {
  left: 8px;
  animation: app-loader2 0.6s infinite;
}
.app-loader div:nth-child(3) {
  left: 32px;
  animation: app-loader2 0.6s infinite;
}
.app-loader div:nth-child(4) {
  left: 56px;
  animation: app-loader3 0.6s infinite;
}
@keyframes app-loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes app-loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes app-loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
