.sheet-wrapper {
  padding: 8px;
  width: 33.3333%;
  max-width: 33.3333%;
  .card-content {
    padding: 14px;
    p {
      &.title {
        color: $primaryColor;
        font-size: 16px;
      }
      &.subtitle {
        font-size: 14px;
      }
    }

    .content {
      font-size: 14px;
    }

    time {
      font-weight: bold;
      margin-top: 12px;
      display: block;
      color: #7c838d;
    }
  }
}

#myalbumWrapper .sheet-wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.sheet-tag-wrap {
  text-align: right;
  margin-bottom: 6px;
  span {
    font-size: 12px;
    padding: 5px;
    height: auto;
    line-height: 1;
  }
}
