@import "./variables.scss";
@import "./core/core.pack.scss";
@import "./components/components.pack.scss";

body,
button,
input,
optgroup,
select,
textarea {
  font-family: $font;
}

.contador {
  position: fixed;
  padding: 16px;
  background: #363636;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  bottom: 24px;
  border: 4px solid $primaryColor;
  span {
    color: white;
  }
}
